<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--File JSP-->
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>jpanblog.controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>jpanblog.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/error_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/error_page.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadPost</servlet-name>
        <jsp-file>/load_posts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPost</servlet-name>
        <url-pattern>/load_posts.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login_page.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/register_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register_page.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowBlog</servlet-name>
        <jsp-file>/show_blog_page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBlog</servlet-name>
        <url-pattern>/show_blog_page.htm</url-pattern>
    </servlet-mapping>
    <!--End JSP-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>jpanblog.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>jpanblog.controller.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>jpanblog.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>jpanblog.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>jpanblog.controller.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Post_Controll</servlet-name>
        <servlet-class>jpanblog.controller.Add_Post_Controll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostControll</servlet-name>
        <servlet-class>jpanblog.controller.DeletePostControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Post_Controll</servlet-name>
        <url-pattern>/Add_Post_Controll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostControll</servlet-name>
        <url-pattern>/DeletePostControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
